---
layout: default
---

{% unless page.hide_contact_strip %}
{% include contact-strip.html %}
{% endunless %}
{% unless page.hide_page_nav %}
{% include nav.html %}
{% endunless %}

{% if page.background == "grey" or page.background == "gray" %}
<script>
document.getElementById("page-top").className="bg-light";
</script>
{% elsif page.background == "white" %}
<script>
document.getElementById("page-top").className="bg-white";
</script>
{% endif %}

<div class="container" id="pagecontainer">
{{ content }}
</div>
